@media screen and (max-width:500px){
    #footer{
        text-align: center;
        /* background-color: #66BFBF; */
        background-color: #f1eded;
        padding: 5% 0%;
    }
    .social-icon{
        margin: 10px 50px;
    }
}

@media screen and (min-width:400px){
    #footer{
        /* padding: 4% 10%; */
        text-align: center;
        /* background-color: #66BFBF; */
        background-color: #f1eded;
    }
    .social-icon{
        margin: 10px 50px;
    }
}


#footer{
    width:100%;
    text-align: center;
    padding: 5% 0%;
    /* background-color: #66BFBF; */
    background-color: #f1eded;
}

.social-icon{
    margin: 20px 10px;
    color: #444;
}