@media screen and (max-width:500px){
    #footer{
        padding: 3.5% 10%;
        text-align: center;
        /* background-color: #66BFBF; */
        background-color: #f1eded;
    }
    .social-icon{
        margin: 10px 50px;
    }
}

@media screen and (min-width:400px){
    #footer{
        padding: 4% 10%;
        /* width:100%; */
        text-align: center;
        /* background-color: #66BFBF; */
        background-color: #f1eded;
    }
    .social-icon{
        margin: 10px 50px;
    }
}


    #footer{
    padding: 3% 10%;
    text-align: center;
    /* background-color: #66BFBF; */
    background-color: #f1eded;
}
.social-icon{
    margin: 20px 10px;
}