.header {
  margin-top: 0px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  margin-top: 30px;
  font-size: 3rem;
}

.headerTitleLg {
  position: absolute;
  margin-top: 80px;
  font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 480px;
    margin-top: 80px;
    object-fit: cover;
}